<!DOCTYPE html>
<html>

<head>
    <title>Learning python flask</title>
    <link rel="stylesheet" href="home.css"></head>

<body class = "body" style="background-color: black; color: aqua;">
    <div>
        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, corporis.</h1>
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia cupiditate id quibusdam. Fugiat iure magnam et laudantium, autem ullam! Ad?</p>
    </div>

</body>

</html>